
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img alt="logo" id="header_logo"  float-left src="../assets/images/logos/logo.png">
  </ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>

   <div>


    <h1 class="text_connecter"> CONNECTEZ AVEC VOTRE CELLULAIRE ddd</h1>
    <ion-item class="input-num_tel">
      <ion-icon name="call-sharp" slot="start"></ion-icon>
      <ion-input placeholder="Entrez votre numéro de cellulaire"></ion-input>
    </ion-item>
    <p class="text_definition"> Nous utilisons votre numéro de téléphone uniquement pour vous identifier.<p>
      <section>
        <ion-button  expand="block" class="button_envoyer" >ENVOYER</ion-button>
      </section>    </div>
  </ion-content>
  